// colors


// form style
$ff-width: 100%
$ff-padding: 2em

// groups
$ff-group-margin: 1em     // bottom only
$ff-group-round: 5px

// fields
$ff-field-margin: 0     // bottom only

// labels
$ff-label-width: 20%
$ff-label-position: 'left'  // 'left/right/top/bottom/none'
$ff-label-font-size: .9em
$ff-label-case: 'none'    // 'upper/lower/none'
$ff-label-padding: 5px      // left or right based on position

// inputs
$ff-input-width: 100%
$ff-input-height: 1.8em
$ff-input-round: 0