// Set your color variables here, you can add or edit any way you see fit, just be sure to use the variables below in the settings.

$blue: hsla(198.33, 100.00%, 53.14%, 1.00)
$red: hsla(352.44, 73.41%, 66.08%, 1.00)
$green: hsla(127.02, 80.28%, 41.76%, 1.00)
$orange: hsla(19.21, 79.61%, 50.00%, 1.00)
$grey: hsla(0.00, 0.00%, 93.33%, 1.00)
$lt-grey: lighten($grey, 5%)
$dk-grey: rgba(23, 51, 78, 0.15)
$black: rgb(0,0,0)


// Disable if you are already using Nicolas Gallagher's Normalize.css http://necolas.github.io/normalize.css/
$ff-import-normalize: true

// Disable if you are already using box-sizing(border-box) on your site.
$ff-import-box-sizing: true

// Enable if you're using Twitter Bootstrap
$ff-use-twitter-bootstrap: false


// General form settings
$ff-width: 100%
$ff-form-bg: $grey        // Leave transparent to inherit background
$ff-padding: 2em 6em                  // Form padding
$ff-font-family: 'Open Sans', sans-serif
$ff-font-size: 1.2em

// groups
$ff-group-stacked: false        // Enter 0 for 'stacked', margin in groups
$ff-group-margin-bottom: 2em

// fields
$ff-field-margin-bottom: .75em           // Bottom only, applies to single and groups


// labels
$ff-label-width: 28%
$ff-label-position: right        // left/right/top/bottom/none
$ff-label-align: center          // left/right/center
$ff-label-font-size: inherit
$ff-label-font-family: inherit  // use this for font-icons!
$ff-label-font-weight: bold
$ff-label-color: inherit
$ff-label-case: none         // upper/lower/none
$ff-label-padding: 15px          // left or right based on position
// if you use em for $ff-input-height, you can tweak the label height here
$ff-label-offset: 0
$ff-label-cap: true
$ff-label-cap-bg: $lt-grey
$ff-label-cap-box-shadow: inset 0 2px 10px 2px rgba(255,255,255,.2)
$ff-label-text-transform: inherit
$ff-label-inside: false

// inputs
$ff-input-font-size: inherit
// use px if you can!  they work without tweaking label height
$ff-input-height: 35px
$ff-input-padding-horizontal: 8px
$ff-input-round: 4px
$ff-input-bg: #fff
$ff-input-border-style: solid
$ff-input-border-width: 1px
$ff-input-border-color: $dk-grey
$ff-input-box-shadow: inset 0 1px 2px 2px rgba(0,0,0,.03)
$ff-input-color: inherit

// checkboxes and radios
$ff-check-radio-columns: 3         // how many should fit across
$ff-check-radio-hover-color: $orange

// input state
$ff-state-style: outline               // 'outline/shadow'
$ff-state-shadow: inset 0 0 3px 2px     // if 'shadow' is used
$ff-state-focus: $blue
$ff-state-focus-bg: inherit
$ff-state-disabled: darken($ff-input-bg, 3%)
$ff-state-invalid: $red
$ff-state-success: $green

// these will change text color to state colors if html5 is used
$ff-state-help-change-color: true
$ff-state-label-change-color: true


// legend
$ff-legend-font-size: 1.2em
$ff-legend-color: inherit
$ff-legend-margin-bottom: .5em
$ff-legend-text-align: left
$ff-legend-font-weight: bold


// Help block styles.  *These will auto-hide on stacked fields
$ff-help-display: true
$ff-help-color: darken($grey, 50%)
$ff-help-size: .9em
$ff-help-align: left

// placeholder
$ff-placeholder-show: false
$ff-placeholder-color: inherit

// submit button
$ff-submit-bg: $dk-grey
$ff-submit-color: inherit
$ff-submit-box-shadow: none
$ff-submit-border-width: 0
$ff-submit-border-style: solid
$ff-submit-border-color: transparent
$ff-submit-font-size: inherit
$ff-submit-hover-bg: $blue
$ff-submit-hover-color: white
$ff-submit-text-transform: inherit
$ff-submit-font-weight: inherit

// responsive
$break-small: 480px
$break-medium: 1024px
$break-large: 1200px

// add extra CSS here or load it after formface.sass
@mixin after


