// colors


// form style
$ff-width: 100%
$ff-padding: 2em

// field style
$ff-label-width: 15%
$ff-label-position: 'left'  // 'left/right/none'
$ff-label-padding: 5px      // this is only relative to the input field

// input style
$ff-input-width: 100%
$ff-input-height: 1.8em
$ff-input-round: 0