/* FormStrap
 * by Adam L
 * @seethroughtrees
 *
 * http://formstrapcss.com
 * Minimal Theme v1.1
 *
 * I know there's lots of variables in here, but only change what you need to.
 * And trust me.  Its way easier than writing the CSS!
 */
.transition, .form-face input[type="submit"], .form-face textarea[type="submit"], .form-face input[type="button"], .form-face textarea[type="button"] {
  -webkit-transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
  -moz-transition: background ease-in-out 0.2s, color ease-in-out 0.2s;
  transition: background ease-in-out 0.2s, color ease-in-out 0.2s; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
.form-face textarea,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input,
.form-face textarea {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
html .form-face textarea[type="button"],
.form-face html textarea[type="button"],
input[type="reset"],
.form-face textarea[type="reset"],
input[type="submit"],
.form-face textarea[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
input[disabled],
.form-face textarea[disabled] {
  cursor: default; }

input[type="checkbox"], .form-face textarea[type="checkbox"],
input[type="radio"],
.form-face textarea[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"], .form-face textarea[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, .form-face textarea[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
.form-face textarea[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner, .form-face textarea::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

.form-face {
  *zoom: 1;
  background: #f7f5f2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: inherit;
  text-transform: inherit;
  color: #c6bdb1;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .form-face:before, .form-face:after {
    content: " ";
    display: table; }
  .form-face:after {
    clear: both; }
  .form-face *, .form-face *:before, .form-face *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .form-face fieldset {
    border: 0;
    margin: 0;
    padding: 0; }

.form-face {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2em 4em; }
  @media screen and (max-width: 480px) {
    .form-face {
      padding: 1em; } }

.form-face label {
  *zoom: 1;
  position: relative;
  display: block;
  margin-bottom: 0.75em;
  padding: 0; }
  .form-face label:before, .form-face label:after {
    content: " ";
    display: table; }
  .form-face label:after {
    clear: both; }
  .form-face label .help-text {
    display: block;
    height: 45px;
    line-height: 45px;
    color: #7b6752;
    font-size: 0.9em;
    text-align: left;
    margin-right: 0;
    margin-left: 0;
    display: none; }
  .form-face label .label-text {
    width: 15%;
    line-height: 45px;
    height: 45px;
    text-align: center;
    font-size: 1.2em;
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    text-transform: inherit;
    display: none;
    opacity: 0; }
.form-face input, .form-face textarea {
  position: relative;
  color: #9b8b76;
  font-size: 1em;
  font-weight: normal;
  padding-left: 18px;
  padding-right: 18px;
  height: 45px;
  border-radius: 4px;
  vertical-align: middle;
  background-color: #ebe6e1;
  border: 0 solid #c6bdb1;
  box-shadow: none;
  width: 100%; }
  .form-face input::-webkit-input-placeholder, .form-face textarea::-webkit-input-placeholder {
    color: #c6bdb1; }
  .form-face input:-moz-placeholder, .form-face textarea:-moz-placeholder {
    color: #c6bdb1; }
  .form-face input::-moz-placeholder, .form-face textarea::-moz-placeholder {
    color: #c6bdb1; }
  .form-face input:-ms-input-placeholder, .form-face textarea:-ms-input-placeholder {
    color: #c6bdb1; }
.form-face textarea {
  height: auto;
  line-height: 1.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-height: 45px; }
.form-face legend {
  font-size: 1.2em;
  font-weight: normal;
  color: #c6bdb1;
  margin-bottom: 0.5em;
  text-align: left; }
.form-face fieldset {
  *zoom: 1;
  position: relative;
  margin-bottom: 2em;
  padding: 0; }
  .form-face fieldset:before, .form-face fieldset:after {
    content: " ";
    display: table; }
  .form-face fieldset:after {
    clear: both; }
  .form-face fieldset label:first-of-type:last-of-type input, .form-face fieldset label:first-of-type:last-of-type textarea {
    border-radius: 4px; }
  .form-face fieldset.checkbox-group label, .form-face fieldset.radio-group label {
    float: left;
    width: 100%;
    margin-bottom: 0.375em; }
    .form-face fieldset.checkbox-group label .label-text, .form-face fieldset.radio-group label .label-text {
      background: transparent;
      text-align: left;
      display: inline-block;
      opacity: 1;
      border: 0;
      color: inherit;
      border-radius: 0;
      width: auto;
      float: none;
      padding: 0 25px;
      position: relative;
      right: 0;
      left: 0;
      cursor: pointer;
      font-family: inherit;
      font-size: 1em; }
      .form-face fieldset.checkbox-group label .label-text:hover, .form-face fieldset.radio-group label .label-text:hover {
        cursor: pointer;
        color: #7dccbc; }
    .form-face fieldset.checkbox-group label .help-text, .form-face fieldset.radio-group label .help-text {
      display: none; }
  .form-face fieldset.checkbox-group input, .form-face fieldset.checkbox-group textarea, .form-face fieldset.radio-group input, .form-face fieldset.radio-group textarea {
    float: left;
    width: auto; }
.form-face select {
  margin-bottom: 0.75em; }

.form-face input[type="submit"], .form-face textarea[type="submit"], .form-face input[type="button"], .form-face textarea[type="button"] {
  background: #7dccbc;
  font-size: inherit;
  font-weight: normal;
  color: white;
  text-transform: lowercase;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.3);
  border: 0 solid transparent;
  -webkit-appearance: button;
  cursor: pointer;
  padding: 0;
  white-space: nowrap;
  height: 3em; }
  .form-face input[type="submit"]:hover, .form-face textarea[type="submit"]:hover, .form-face input[type="submit"]:focus, .form-face textarea[type="submit"]:focus, .form-face input[type="button"]:hover, .form-face textarea[type="button"]:hover, .form-face input[type="button"]:focus, .form-face textarea[type="button"]:focus {
    background: #8fd3c5;
    color: white; }

.form-face input:focus, .form-face textarea:focus, .form-face input:disabled, .form-face textarea:disabled, .form-face input:required, .form-face textarea:required, .form-face input:invalid, .form-face textarea:invalid, .form-face input:in-range, .form-face textarea:in-range, .form-face input:read-only, .form-face textarea:read-only {
  outline: 0;
  border-bottom-width: 0;
  z-index: 10; }
.form-face input:focus, .form-face textarea:focus {
  background: #fbfaf9; }
  .form-face input:focus ~ .help-text, .form-face textarea:focus ~ .help-text {
    color: #7dccbc; }
  .form-face input:focus ~ .label-text, .form-face textarea:focus ~ .label-text {
    color: #7dccbc; }
.form-face input:invalid ~ .help-text, .form-face textarea:invalid ~ .help-text {
  color: #e86979; }
.form-face input:invalid ~ .label-text, .form-face textarea:invalid ~ .label-text {
  color: #e86979; }
.form-face input:disabled, .form-face textarea:disabled, .form-face input:read-only, .form-face textarea:read-only {
  cursor: not-allowed;
  background: #e5ded8; }
.form-face input:required ~ .label-text:after, .form-face textarea:required ~ .label-text:after {
  content: " *";
  color: inherit; }
.form-face input:required:invalid, .form-face textarea:required:invalid {
  border-color: #c6bdb1;
  background: #ebe6e1; }
  .form-face input:required:invalid ~ .label-text, .form-face textarea:required:invalid ~ .label-text {
    color: inherit; }
  .form-face input:required:invalid ~ .help-text, .form-face textarea:required:invalid ~ .help-text {
    color: #7b6752; }
  .form-face input:required:invalid:focus, .form-face textarea:required:invalid:focus {
    background: #fbfaf9; }
.form-face input:required:focus ~ .help-text, .form-face textarea:required:focus ~ .help-text {
  color: #7dccbc; }
.form-face input:required:focus ~ .label-text, .form-face textarea:required:focus ~ .label-text {
  color: #7dccbc; }
